@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Ubuntu:wght@300&display=swap');
:root{
    --heading-font: "Amaranth",sans-serif;
    --paragraph-font: "Ubuntu", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
/* header section*/
header{
    display: grid;
    grid-template-columns: 20% 80%;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    display: block;
    margin-top: 8px;
    width: 200px;
    height: 120px;
}
nav{
    grid-column: 1/3;
    grid-row: 1/2;
}
#banner{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#banner-box{
    filter:brightness(50%);
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -2;
}
.banner-img{
    width: 100%;
    height: 100%;
}
#banner-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px
}
#banner-msg h1{
    text-align: center;
    font-size: 2.8em;
    color: white;
    font-family: var(--heading-font);
    text-shadow: 2px 2px 3px black;
}
.button-banner{
    text-align: center;
    margin-top: 50px;
}
.search-btn{
    background-color: #f98b09;
    text-decoration: none;
    color:black;
    padding: 10px 50px;
    border-radius: 5px;
    font-family: var(--paragraph-font);
    font-size:1.2em;
    font-weight: bold;
}
.search-btn:hover{
    background-color: #fd9f2d;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 54, 156);
    margin: 0;
    padding: 0;
    /*height: 200px;*/
    
}
nav ul li{
    list-style-type: none;
    font-family: var(--heading-font);
    /*border: 1px dashed white;*/
}
nav ul li a{
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    background-color: rgb(139, 222, 236);
    /*border-bottom: 3px solid white;*/
    padding: 15px 20px;
}
/* end header section*/

/*main section*/
main{
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid black;*/
}
/*end main section*/

/* Too Many Options to Eat*/
#first{
    /*border: 1px dashed red;*/
    display: flex;
    justify-content: space-around;
    background-color: #F9EDDC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23F9EDDC' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23f6ebda' href='%23s' y='2'/%3E%3Cuse fill='%23f6ebda' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f4e8d8' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f4e8d8' href='%23s'/%3E%3Cuse fill='%23f1e6d5' href='%23s' x='2'/%3E%3Cuse fill='%23f1e6d5' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23efe3d3'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23efe3d3'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ece1d1'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23F9EDDC'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23eadece'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFF6F9'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFF6F9'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23FFF6F9'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.first-detail{
    width: 60%;
}
.first-detail h2{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: var(--heading-font);
    font-size: 1.8em;
    color: #0e3d6b;
}
.first-detail p{
    line-height: 1.5em;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    text-align: justify;  
}
.image-first{
    display: block;
    padding: 25px 0 25px 0;
}
/* End Too Many Options to Eat*/

/* All Do you Need to Know*/
.second{
    /*border: 1px dashed rgb(241, 103, 11);*/
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 243);
}
.second h2{
    margin: 25px auto;
    font-family: var(--heading-font);
    font-size: 1.8em;
}
.options{
    display:flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 50px;
}
.options article{
    width: 200px;
}
.options article img{ 
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.options article h3{
    font-family: var(--heading-font);
    margin: 10px 0;
    text-align: center;
}
.options article p{
    font-family: var(--paragraph-font);
    text-align: justify;
    line-height: 25px;
}
.options article button{
    border-radius: 5px;
    padding: 8px 25px;
    background-color: #0e3d6b;
    font-size:1.0em;
    border: none;
    color: white;
    margin-top:10px;
}
.options article button:hover{
    background-color: #265788;
}

/* End All Do you Need to Know*/

/*Third*/
.third{
    display: flex;
    justify-content: space-around;
    /*border: 1px dashed green;*/
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ECF3FF'/%3E%3Cstop offset='1' stop-color='%23CDCEDB'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-attachment: fixed;
}
.image-third{
    display: block;
    padding: 25px 0 25px 0;
}
.third-detail{
    width: 60%;
    
}
.third-detail h2{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: var(--heading-font);
    font-size: 1.8em;
    color: #0e3d6b;
}
.third-detail p{
    line-height: 1.5em;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    text-align: justify;  
}
.third-detail button{
    border-radius: 0.3em;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top:25px;
    background-color: #f98b09;
    border: none;
}
/*End Third */

/* Search Form Trucks Food*/
form.search-form{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
form.search-form input[type=text]{
    padding: 10px;
    font-size: 1em;
    border: 1px solid grey;
}
form.search-form button{
    padding:10px;
    font-size: 1em;
    border: 1px solid grey;
    border-left: none;
    background-color: #0e3d6b;
    color: white;
}

/* End Search Form Trucks Food */

/* list food trucks */
.list{
    /*border: 1px dashed blue;*/
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
    background-color: rgb(247, 247, 243);
}
.main-heading{
    text-align: center;
}
.list h2{
    display: inline-block;
    margin: 50px 0;
    font-family: var(--heading-font);
    font-size: 1.8em;
    color: #0e3d6b;
}
.list-detailed article, .food-list-detailed article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}
/*.list-detailed article img, .food-list-detailed article img{
    padding-right: 25px;
}*/
.truck-info h3, .food-info h3{
    font-family: var(--heading-font);
    color: #0e3d6b;
}
.truck-info, .food-info{
    margin-left: 25px;
}
.truck-info ul li{
    list-style-type: none;
    margin: 20px 0;
    width: 400px;
    font-family: var(--paragraph-font);
}
.truck-status, .food-status{
    margin-left: 25px;
}
.truck-status ul, .food-status ul{
    margin-top: 40px;
}
.open{
    color: green;
}
.close{
    color: red;
}
.truck-status ul li, .food-status ul li{
    list-style-type: none;
    margin-bottom: 18px;
    font-family: var(--paragraph-font);
    
}
.truck-status li a{
    text-decoration: none;
    color: black;
}
.truck-status li button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #f98b09;
}

/* End list food trucks */

/* Food List Detailed */
.food-info ul li{
    list-style-type: none;
    margin: 20px 0;
    width: 400px;
    font-family: var(--paragraph-font);
}
.food-status i{
    color:#f98b09;
}
.food-list-detailed article img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*End Food List Detailed */

/*breadcrumb menu*/
.bottom-breadcrumb{
    text-align: center;
}
.breadcrumb{
    display: inline-block;
    margin: 50px 0;
}
.breadcrumb li{
    display: inline-block;
    margin: 0 15px;
}
.breadcrumb li a{
    color: black;
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
    color: #0e3d6b;
}
/* end breadcrumb menu*/

/*footer*/
footer{
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 110px;
}
.list_menu{
    /*border: 1px dashed white;*/
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*padding-left: 25px;*/

}
.list_menu ul li{
    list-style-type: none;
    margin: 5px 0 5px 0;
    font-family: var(--heading-font);
    
}
.list_menu ul li a{
    color:white;
    text-decoration: none;
}
.list_menu ul li a:hover{
    color:#f98b09;
}

.bottom_logo{
    /*border: 1px dashed white;*/
    width: 200px;
    height: 120px;
}
.media{
    /*border: 1px dashed white;*/
    display: flex;
    align-items: center;
}
.media ul li{
    display: inline;
    list-style-type: none;
    margin: 0 10px;
}
.media ul li a{
    color: white;
}
/* end footer */


