*{
    border:2px solid blue;
}
body{
    background-color: palevioletred;   
}
nav h1 a{
    color: white;
    text-decoration: none;
}
nav h1{
    margin: 0 auto;
    text-align: center;
}
header p{
    color: white;
    font-size: 0.7em;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
main section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
main section:nth-child(1) {
    font-size: 0.8em;
    font-weight: bold;
}
main section:nth-child(2){
    font-size: 1.2em;
    color: white;
}
footer p{
    font-size: 0.7em;
}